
  .Nav{
      text-transform: uppercase;
     padding: 10px;
      background-color: black;
      color: white;
      text-decoration: none;
      width: 98.7%;
  }

  .Nav a{
   
    padding: 10px;
    margin: 10px;
    color: white;
   
}

.Nav a:link {
    text-decoration: none;
    color: white;
   
  }
  
  .Nav a:visited {
    text-decoration: none;
    color: white;
  }
  
  .Nav a:hover {
    text-decoration: underline;
    color: white;
   
  }
  
  .Nav a:active {
    text-decoration: underline;
    color: white;
  }




 