.App{
    background-color: cornflowerblue;
    background-image: url("https://st3.depositphotos.com/8695718/16921/v/1600/depositphotos_169213408-stock-illustration-abstract-blue-wave-set.jpg");
    background-repeat:no-repeat;
    background-size: cover;
 
    
}